<div id="container">
    <h1>Zarejestruj się</h1>
<div id="form">
    <form>
        <input type="email" name="mail" placeholder="Wpisz swój email">
        <input type="password" name="pass" placeholder="Wpisz swoje hasło">
        <input type="password" name="pass" placeholder="powtórz hasło">
        <input type="button" name="mail" value="Zarejestruj się">
    </form>
    
</div>
<p id="invalid" style="color: red">Zły email i/lub hasło</p>
<p>Masz już konto? <a routerLink="/login">Zaloguj się</a> </p>
</div>
